.van-nav-bar {
  background-color: #fff;
}

.van-nav-bar .van-icon {
  color: #000;
}

.van-button--normal {
  padding: 0 20px;
  font-size: 18px;
}

.confirm {
  background-color: #fff;
  width: 100%;

  .container {
    width: 94%;
    margin: 0 auto;
  }

  // 按钮
  .confirm_btn {
    padding: 1em 0;
    background-color: #F3F3F3;

    .confirm_order {
      margin: 0 auto;
      width: 40%;
      border-radius: .3em;
      text-align: center;

      background-color: #1AAD19;

      span {
        width: 100%;
        color: #fff;
        padding: .6em .3em;
        display: inline-block;
      }
    }
  }

  //付款方式
  .confirm_pay {
    padding: 1em 0;
    background-color: #fff;

    .confirm_paybox {
      display: flex;

      .pay_text {
        flex: 5;
      }

      .pay_wx {
        display: flex;

        img {
          width: 30px;
        }

        span {
          padding-left: 1em;
        }
      }


    }
  }

  //商城商品信息
  .confirm_shop {
    background-color: #CECECE;

    .shop_title {
      margin-left: 3%;

      h1 {
        font-size: 16px;
        font-weight: normal;
        margin: 0;
        padding: .8em 0;
      }
    }

    .shop_box {
      background-color: #F3F3F3;
      display: flex;
      padding: .8em 0;

      .box_img {
        flex: 1;
        margin-left: 3%;

        img {
          width: 100%;
        }
      }

      .box_text {
        flex: 2;
        margin: 0 3% 0 3%;

        .box_textTitle {
          font-size: 12px;
        }

        .box_textNum {
          padding: .8em 0;
          color: #6C6C6C;
          font-size: 12px;

          span {
            display: inline-block;
            float: right;
            margin-right: 3%;
          }
        }

        .box_textPrice {
          color: #F55B61;
        }
      }

      .box_edit {
        margin-right: 3%;
        font-size: 12px;

        a {
          color: #FFC446;
        }
      }
    }
  }

  //促销
  .promotion {
    background-color: #F3F3F3;
    margin-top: .8em;
    display: flex;
    padding: .8em 0;

    .promotion_text {
      flex: 1;
      margin-left: 3%;
    }

    .promotion_pricce {
      text-align: right;
      flex: 1;
      margin-right: 3%;
    }
  }



  .paynum {
    color: #6C6C6C;
    font-size: 14px;
    position: absolute;
    right: 3%;
    bottom: 96px;

    span {
      color: #F55B61;
      font-size: 18px;

    }
  }

  //提交订单
  .submit_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-top: 1px solid #CECECE;
    position: fixed;
    width: 100%;
    bottom: 0;

    .submit_price {
      flex: 1;
      margin-left: 3%;
      font-size: 16px;

      span {
        color: #F55B61;
        font-size: 18px;

      }
    }

    .submit_btn {
      flex: 1;
      text-align: right;
      font-size: 18px;
    }
  }



}
