#app {
  margin-top: 0; }

a {
  color: #000; }

.clearfix:after {
  display: block;
  content: '';
  clear: both;
  height: 0; }

.van-tabbar {
  background-color: #D9D9D9; }

.tempBig .title {
  font-size: 20px; }
.tempBig .login_box {
  background-color: #fff;
  border: 1px solid #E4F2E4;
  margin: 3px 13px 13px 13px;
  border-radius: 5px;
  box-shadow: 0px -2px 0px 0px #E4F2E4, -2px 0px 0px 0px #E4F2E4, 2px 0px 0px 0px  #E4F2E4, 0px 2px 0px 0px #E4F2E4;
  display: flex; }
.tempBig .login_left {
  flex: 1; }
.tempBig .login_rigth {
  flex: 1; }
.tempBig .loginImg {
  border-radius: 50%;
  margin: 63px 50px;
  width: 80px;
  height: 80px; }
.tempBig .content_text {
  position: relative;
  height: 10px;
  font-size: 14px;
  text-align: left;
  line-height: 0.9;
  margin-top: 30px; }
.tempBig .my_site {
  line-height: 18px; }
.tempBig b {
  font-size: 16px; }
.tempBig .card {
  position: absolute;
  top: 21px;
  right: 21px; }
  .tempBig .card .van-button__text {
    color: #2EB42D; }
.tempBig .deposit_Tb {
  font-size: 12px;
  font-weight: 700;
  width: 75 px;
  height: 29px;
  line-height: 29px;
  border-radius: 5px; }
.tempBig .van-button--normal {
  padding: 0 5px; }
.tempBig .call_play {
  display: flex; }
.tempBig .share_box {
  flex: 1;
  text-align: center; }
.tempBig .address_box {
  flex: 1;
  text-align: center; }
.tempBig .share_Tb {
  width: 130px;
  height: 35px;
  margin: 8px 15px 20px 10px;
  line-height: 35px;
  border-radius: 5px; }
  .tempBig .share_Tb .van-button__text {
    color: #2EB42D; }
.tempBig .address_Tb {
  width: 150px;
  height: 35px;
  margin: 8px 10px 20px 15px;
  line-height: 35px;
  border-radius: 5px; }
  .tempBig .address_Tb .van-button__text {
    color: #fff; }
.tempBig .news_lis {
  overflow-y: hidden;
  flex-wrap: nowrap;
  display: flex;
  position: relative; }
.tempBig .pos_box {
  float: left;
  height: 69px;
  font-size: 14px;
  margin-right: 12px;
  width: 26px;
  margin-left: 5px;
  display: inline;
  line-height: 22px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center; }
  .tempBig .pos_box span {
    line-height: 20px; }
.tempBig .sile_box {
  float: left;
  font-size: 14px;
  line-height: 8px;
  margin-right: 10px;
  white-space: nowrap;
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 5px;
  margin-left: 5px;
  text-indent: 5px;
  flex: 1; }
  .tempBig .sile_box img {
    width: 20px;
    margin-top: 10px;
    margin-left: 2px; }
.tempBig .wechat_box {
  float: left;
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  margin-left: 5px;
  padding: 1px; }
  .tempBig .wechat_box span {
    margin-right: 36px; }
  .tempBig .wechat_box .tag-read {
    height: 100%;
    border: 0;
    background-color: #fff; }
  .tempBig .wechat_box img {
    width: 22px;
    height: 19px;
    margin-left: 3px; }
.tempBig .phone_box {
  float: left;
  font-size: 14px;
  line-height: 8px;
  margin-right: 10px;
  white-space: nowrap;
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px;
  flex: 1; }
  .tempBig .phone_box img {
    width: 16px;
    height: 18px;
    margin-top: 5px;
    margin-left: 3px; }
.tempBig .mail_box {
  float: left;
  font-size: 14px;
  line-height: 8px;
  margin-right: 10px;
  white-space: nowrap;
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 5px;
  margin-left: 5px;
  text-indent: 5px;
  flex: 1; }
  .tempBig .mail_box img {
    width: 20px;
    height: 15px;
    margin-top: 10px;
    margin-left: 2px; }
.tempBig .like_box {
  margin: 30px 0;
  display: flex;
  width: 100%;
  height: 72px;
  background-color: #DFDEDE; }
.tempBig .like_left {
  flex: 1; }
.tempBig .like_right {
  flex: 1; }
.tempBig .smlaa_box {
  background-color: #fff;
  display: block;
  border-radius: 50%;
  width: 60px;
  margin: 0 auto;
  margin-top: 5px;
  height: 60px;
  font-size: 14px;
  border: 1px solid #bbbbbb; }
  .tempBig .smlaa_box img {
    margin-left: 20px;
    width: 20px;
    height: 20px; }
.tempBig .big_box {
  background-color: #07C160;
  display: block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 5px;
  color: #fff;
  font-size: 14px;
  border: 1px solid #bbbbbb; }
.tempBig .my_up {
  display: block;
  width: 25px;
  margin: 0 auto;
  margin-top: 10px; }
.tempBig .my_down {
  display: inline-block;
  margin-left: 16px;
  margin-top: 18px;
  text-align: center; }
.tempBig .numChind {
  width: 320px;
  height: 225px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px; }
  .tempBig .numChind .mainNum {
    width: 100%;
    text-align: center; }
.tempBig .herNum {
  height: 40px; }
  .tempBig .herNum span {
    float: left;
    font-size: 20px; }
  .tempBig .herNum .close {
    float: right;
    font-size: 30px; }
.tempBig .van-button--normal {
  width: 83px;
  height: 40px;
  font-size: 14px; }
.tempBig .van-button__text {
  color: #000; }

.van-button--normal {
  margin-top: 35px;
  width: 93px;
  height: 50px;
  font-size: 18px;
  flex-wrap: 700;
  margin-left: 16px;
  border-radius: 5px; }

.personage {
  width: 113px;
  height: 34px;
  background-color: #A6A5A5;
  text-align: center;
  margin-left: 10px;
  line-height: 34px;
  margin-bottom: 8px; }

.personage_box {
  padding: 0 10px 10px 10px;
  margin: 10px; }
  .personage_box > p {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 1em;
    font-size: 14px;
    line-height: 20px;
    text-align: left; }
  .personage_box .title_box {
    line-height: 0px;
    text-align: left;
    margin-left: 8px; }
  .personage_box .content_box {
    padding-bottom: 10px;
    display: flex; }
    .personage_box .content_box .psonImg {
      width: 50px;
      height: 50px;
      border-radius: 50%; }
    .personage_box .content_box .contentBoy {
      flex: 6;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc; }
    .personage_box .content_box .userTem {
      text-align: left;
      font-size: 14px; }
    .personage_box .content_box .contentNum {
      text-align: left;
      font-size: 14px;
      margin-top: 12px; }
    .personage_box .content_box .goodNum {
      display: flex;
      border-bottom: 1px solid #ccc;
      flex: 1;
      margin-top: 20px;
      margin-right: 20px; }
    .personage_box .content_box img {
      width: 15px;
      height: 15px;
      margin-right: 6px; }
    .personage_box .content_box .van-cell-group {
      border: none; }
  .personage_box .remove {
    display: block;
    width: 70px;
    height: 20px;
    margin: 0 auto;
    font-size: 14px;
    color: #323131;
    margin-top: 15px; }
  .personage_box .input_conten {
    display: inline-block;
    width: 65%;
    background-color: #cec6c6;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px; }
  .personage_box .footLink {
    flex: 6;
    margin-left: 15px; }
  .personage_box .content_foot {
    padding-bottom: 30px;
    display: flex;
    padding-bottom: 50px; }
  .personage_box .sunImg {
    height: 50px;
    border-radius: 50%;
    margin-top: 45px; }
  .personage_box .publish {
    font-size: 16px;
    line-height: 38px;
    margin-top: 21px;
    float: right;
    height: 38px;
    width: 25%; }
    .personage_box .publish .van-button__text {
      color: #fff; }

.van-overlay {
  z-index: 99999;
  background-color: #fff !important; }

.icmp {
  width: 21px;
  height: 17px;
  margin-left: 3px;
  margin-bottom: 3px; }

.icsc {
  width: 21px;
  height: 19px;
  margin-left: 3px;
  margin-bottom: 3px; }

.icwd {
  width: 19px;
  height: 20px;
  margin-left: 3px;
  margin-bottom: 3px; }

.van-tabbar-item span {
  font-size: 14px; }

/*# sourceMappingURL=hollw.css.map */
